<%- include('partials/header') %>

<link rel="stylesheet" href="/stylesheets/hero-careers.css">
<link rel="stylesheet" href="/stylesheets/students-and-roles.css">
<link rel="stylesheet" href="/stylesheets/featured-job.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/careers.css">


<%- include('partials/hero-careers') %>

<div class="careers-container">
  <section class="mission">
    <h1 class="mission-title">Join Our Team</h1>
    <p class="mission-intro">
      At Neram, we believe that exceptional talent is the foundation of extraordinary achievements.
      We're committed to fostering a culture of innovation, collaboration, and growth.
    </p>
  </section>

  <%- include('partials/students-and-roles') %>


  <%- include('partials/featured-job') %>
</div>

<%- include('partials/footer') %>
<script src="/javascripts/navbar.js"></script>
<script src="/javascripts/global.js"></script>